@import "tailwindcss";

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.light ::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #2563eb, #7c3aed);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #1e40af, #6b21a8); /* darker on hover */
}

::-webkit-scrollbar-vertical {
  width: 8px;
}

::-webkit-scrollbar-horizontal {
  height: 8px;
}


@theme {
  --color-bg: 255 255 255;
  --color-box: 255 255 255;
  --box-border: 229 231 235;
  --box-sd: 226 232 240 / 0.5;
  --heading-1: 23 37 84;
  --heading-2: 31 41 55;
  --heading-3: 55 65 81;
}

.dark {
  --color-bg: 3 7 18;
  --color-box: 17 24 39;
  --box-border: 243 244 246 / 0.1;
  --box-sd: transparent;
  --heading-1: 255 255 255;
  --heading-2: 243 244 246;
  --heading-3: 209 213 219;
}

@layer utilities {
  .bg-body {
    background-color: rgb(var(--color-bg));
  }
  .bg-box-bg {
    background-color: rgb(var(--color-box));
  }
  .text-heading-1 {
    color: rgb(var(--heading-1));
  }
  .text-heading-2 {
    color: rgb(var(--heading-2));
  }
  .text-heading-3 {
    color: rgb(var(--heading-3));
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
}
